<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid d-flex">
    <div class="navbar-brand mb-0">
      <a href="/" class="invisible-link">
        <h2 class="header-with-icon">
          Rebase Labs
          <img src="icons/lab.svg" alt="Rebase Labs" style="width: 42px; height: 42px">
        </h2>
      </a>
    </div>
    <div id="input-token" class="d-flex justify-content-center" style="width: 300px;">
      <form id="token-form" class="d-flex w-100">
        <input type="text" id="token-input" class="form-control me-2" placeholder="Insira um Token" required>
        <button type="submit" class="btn btn-outline-primary" id="submit-btn">Pesquisar</button>
      </form>
    </div>
    <div id="csv-upload" class="d-flex justify-content-end text-right" style="width: 500px;">
      <form id="csv-form" class="d-flex" action="/upload_csv" method="POST" enctype="multipart/form-data">
        <label for="csv-file" class="btn btn-outline-primary m-2" id="upload-label">Selecionar CSV</label>
        <input type="file" id="csv-file" name="file" class="form-control d-none" required>
        <span id="file-name" class="align-self-center"></span>
        <button type="submit" class="btn btn-primary m-2" id="upload-btn">Enviar</button>
      </form>
    </div>
  </div>
</nav>
