html {
  height: 100%;
}

body {
  padding-top: 72px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #cfe9ff;
}

main {
    flex: 0.9;
}

footer {
    flex: 0.1;
}

.header-with-icon {
  display: flex;
  align-items: center;
}

.result-item {
  margin-bottom: 20px;
}

.result-card {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.result-card h3 {
  margin-bottom: 15px;
}

.result-card ul {
  list-style: none;
  padding-left: 0;
}

.result-card li {
  margin-bottom: 8px;
}

.result-card .table td {
    text-transform: capitalize;
}

.pagination-controls {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invisible-link {
  text-decoration: none;
  color: inherit;
}

.invisible-link h2 {
  margin: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}